<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>
<body>

<h1>{{ name }}, please enter your new password twice.</h1>
<form class="new_password" action="/resetpassword/" method="post">
    {% csrf_token %}
    <input type="password" name="password1" placeholder="新密码">
    <input type="password" name="password2" placeholder="再次输入新密码">
    <input type="submit" value="确认">
</form>
<form class="cancel" action="/index/">
    <input type="submit" value="取消">
</form>
<h2>Reset {{ result }}!</h2>

<div class="copy-rights">
    <p>Copyright &copy; 2023.<a target="_blank" href="http://127.0.0.1:8000/index">QiyuCloud</a> All rights reserved.</p>
</div>

</body>
</html>